:root {
    --body-color: hsl(232, 51%, 6%);
    --title-color: hsl(232, 18%, 97%);
    --text-color: hsl(232, 18%, 86%);
    
    --body-font: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    --h1-font-size: 2.8rem;
    --h2-font-size: 2rem;
    --h3-font-size: 1.8rem;
    --normal-font-size: 1rem;
    --small-font-size: .8rem;
    }
    
    *, ::before, ::after {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
    }
    html,
    body {
      padding: 0;
      margin: 0;
      display: grid;
      place-items: center;
      width:auto;
      height: 100vh;
      overflow: hidden;
      position: relative;
      font-family: var(--body-font);
      font-size: var(--normal-font-size);
      line-height: 1.6rem;
      background-image: url('./starrynight.svg');
      background-position: center;
      background-size: contain;
      background-repeat: repeat ;
      background-color: var(--body-color);
      color: var(--text-color);
    }
    img {
      max-width: 100%;
      height: auto;
    }

    .meteor {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
    }
    .hero {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 1rem;
    }
    .space-rocket {
      transform: rotateZ(45deg);
      width: 25%;
      height: auto;
    }
    .hero__content {
      text-align: center;
    }
    .animate-s {
      display: inline-block;
      transform: translateY(-20px);
      opacity: 0.01;
      transform-origin: top;
    }
    .active {
      transform: translateY(0);
      opacity: 1;
      transform-origin: top;
      transition: all 0.5s ease-in-out;
    }
    .hero__text {
      display: inline-block;
      transform: translateX(-40px);
      opacity: 0.01;
      transform-origin: left;
    }
    .animate-r {
      transform: translateX(0);
      opacity: 1;
      transform-origin: left;
      transition: all 0.5s ease-in-out;
    }